#container {
      width: 1400px;
      height: 700px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 50px 1fr 1fr 100px;
      box-sizing: border-box;
    }
    #container div {
      border: 1px solid black;
      border-collapse: collapse;
      position: relative;
    }
    #header {
      grid-column-start: 1;
      grid-column-end: 5;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(5, 1fr);
      background-color: yellow;
    }
    #textField {
      top: 10px;
      grid-row-start: 1;
      grid-row-end: span 2;
      grid-column-start: 2;
      grid-column-end: 3;
      background-color: white;
    }
    #headerBottom {
      grid-column-start: span 1;
      grid-column-end: span 2;
    }
    .content {
      grid-row-start: 2;
      grid-row-end: span 2;
      width: 330px;
    }
    #content-first {
      grid-column-start: 1;
      grid-column-end: 2;
      background-color: blue;
    }
    #content-second {
      grid-column-start: 2;
      grid-column-end: 3;
      background-color: red;
    }
    #content-third {
      grid-column-start: 3;
      grid-column-end: 4;
      background-color: white;
    }
    #content-fourth {
      grid-column-start: 4;
      grid-column-end: 5;
      background-color: red;
    }
    #footer {
      grid-column-start: 1;
      grid-column-end: 5;
      display: grid;
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: repeat(5, 1fr);
      background-color: yellow;
    }