.text {
  text-align: center;
  outline: 3px double red;
  outline-offset: 15px;
  text-decoration: overline;
  text-indent: 50px;
  text-transform: capitalize;
  font: 40px bold italic;
}
div {
  border: 3px solid black;
  padding: 20px;
}
.static {
  height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}
span {
  display: block;
}
.img2 {
  float: right;
  outline: 2px double black;
  border-radius: 50%;
  object-position: 20% 100%;
}

* {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  background-color: DodgerBlue;
}

.flex-container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
@media screen and (max-width: 800px) {
  body {
    background-color: rgb(153, 144, 238);
  }
}

.box {
  float: left;
  padding: 50px;
}
#box1, #box2, #box3, #box4, #box5, #box6, #box7, #box8 {transition: 1s;}
#box1:hover {transform: scale(0.5,0.5);} 
#box2:hover {transform: rotate(20deg);}
#box3:hover {transform: skew(20deg,10deg);}
#box4:hover {transform: matrix(1, -0.3, 0.5, 1, 150, 10);}
#box5:hover {transform: rotateY(150deg);} 
#box6:hover {transform: rotateZ(90deg);}
#box7:hover {-webkit-box-reflect: below;}
#box8:hover {-webkit-box-reflect: right;}