.headbtn, .headdropbtn {
  cursor: pointer;
  color: white;
  padding: 7px 8px;
  background-color: black;
  margin: 5px;
  font-weight: bold;
  min-width: fit-content;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
.headdropbtn {
  background-color: rgb(41, 41, 41);
  width: 200px;
}
.headdropbtn:hover {background-color: black;}
footer {
  background-color: rgb(255, 151, 50);
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  margin-bottom: -10px;
}
header {
  background-color: white;
  display: flex;
  margin-left: 3%;
  margin-left: -5px;  
}
.btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}
.dropdown {
  display: inline-block;
}
.dropdown-content {
  margin-top: -10px;
  margin-left: 10px;
  width: auto;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}
.dropdown:hover .dropdown-content {
  display: block;
}
.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}
h1, h2, h3 {
  text-transform: uppercase;
  text-align:center;
  margin: 0;
  font-size: 16px;
  font-family: 'Andale Mono', sans-serif, bold;
  font-weight: 900;font-stretch: semi-expanded;
}
p {
  text-transform: uppercase;
  padding: 0;
  font-family: 'Andale Mono', sans-serif, bold;
  font-weight: 900;font-stretch: semi-expanded;
}
h2 {
  margin-top: 20px;
  font-weight: bolder;
  color: orange;
  font-size: 10px;
}
body {
  background-color: white;
  font-size: 10px;
  font-family: 'Andale Mono', sans-serif;
  text-align: justify;
}
table, td {vertical-align: top;}
ul {list-style-type: none;
  left: -5px;}
ul li {position: relative;}
ul li::before {
  color: orange;
  content:"\2022";
  font-size: 26px;
  left: -15px;
  line-height: 18px;
  position: absolute;
  top: -2px;
}
table#videos, table#videos td, table#videos tr {padding: 5px; display: flex; padding-top: 0px; margin: auto;}
table#videos {display: block;}
.sidetext {width: 25%; max-width: 25%; display:inline-block; vertical-align: middle;text-align: center;}
.centerphoto {width: 49%; max-width: 49%; display:inline-block; vertical-align: middle;text-align: center;}
.number {color: #2196F3; font-size: 26px;font-family: 'Andale Mono', fantasy, bold;}
.titletext {
  padding-left: 5px;
  display:inline-flex;
  color: orange; 
  font-size: 8px; 
  text-transform: uppercase;
  font-family: 'Andale Mono', sans-serif, bold;
  text-align: left;
  padding-top: 10px;
}
.questionblock {
  text-align: left;
  display: flex;
}
.text{font-size: 8px;}